rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /resumes/{document} {
      allow create: if request.auth.uid == request.resource.data.user_id;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /users/{document} {
      allow create: if request.auth.uid == request.resource.data.uid;
      allow read: if request.auth.uid == resource.data.uid;
      allow write: if false;
      allow delete: if false;
    }
  }
}
